doctype html
head
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title BlockChain Operations
main
  .container
    h1.text-center.mt-3.mb-3 Add New Block
    .card
      .card-body
        form(method='POST' action='/')
          .mb-3
            label Product Name
            input#product_name.form-control(type='text' name='product_name')
          .mb-3
            label Product Brand
            input#product_brand.form-control(type='text' name='product_brand')
          .mb-3
            label Production Date
            input#production_date.form-control(type='text' name='production_date')
          .mb-3
            input.btn.btn-primary(type='submit' name='submit_button' value='Add')
  .container
    h1.text-center.mt-3.mb-3 Add New Block
    .card
      .card-body
        table.table
          thead
            tr
              th(scope='col') Index
              th(scope='col') Date
              th(scope='col') Product Name
              th(scope='col') Product Brand
              th(scope='col') Production Date
          tbody
          each block in blockChain
            tr
              th(scope='row')= block.index
              td= block.timestamp
              td= block.data.name
              td= block.data.brand
              td= block.data.date
